/*Sign Up Page*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg,#116466, #efcaa9 );
    min-height: 100vh;
}

.wrapper {
    margin-top: 4em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
    display: flex;
}

.form-cont {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

    .form-cont h1 {
        text-align: center;
        margin-bottom: 60px;
        color: #116466;
    }


.form-cont p{
    display: flex;
    flex-direction: column;
    margin-right: 4%;   
}

.long {
    width: 360px;
    height: 100px;
    overflow: scroll;
    border-radius: 4px;
}

.form-cont p {
    margin: 10px 0;
    background: transparent;
    border: 0px;
    /*border-bottom: 2px solid black;*/
    padding: 10px;
    color: #116466;
    width: 100%;
}

.btn {
    display: block;
    width: 100%;
    height: 3em;
    border: none;
    border-radius: 2rem;
    background: linear-gradient(120deg,#116466, #efcaa9 );
    background-size: 200%;
    color: #fff;
    outline: none;
    margin-top: 2em;
}

@media screen and (max-width: 600px) {
    .form-cont {
        flex-direction: column;
    }

    .long {
        height: 80px;
    }

    .form-cont p {
        width: 100%;
    }
}
